/* CSS Document */

body { margin:0px; padding:0px; }
#menu-cont { float:left; width:100%; height:100%; }
#cont { float:left; width:100%; height:100%; overflow:hidden; position:relative; }
#slide{float:left; width:100%; height:1000px; background:#333; display:none;overflow:hidden; }
#slide_img{float:left; width:100%; height:100%; position:relative;}
.m-heading { font-family: "Trebuchet MS"; font-size: 20px;color:white; line-height:50px; vertical-align:middle; float:left; width:100%; height:50px; background: #ff2b2e; /* Old browsers */ background: -moz-linear-gradient(top, #ff2b2e 0%, #bf202f 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff2b2e), color-stop(100%, #bf202f)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ff2b2e 0%, #bf202f 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ff2b2e 0%, #bf202f 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ff2b2e 0%, #bf202f 100%); /* IE10+ */ background: linear-gradient(to bottom, #ff2b2e 0%, #bf202f 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2b2e', endColorstr='#bf202f', GradientType=0 ); /* IE6-9 */
}
#sl_up{position:absolute; z-index:100; background:url(bk.png) repeat; text-align:center; bottom:50px; left:0px; width:100%; font-family:Verdana, Geneva, sans-serif; color:white; font-size:24px;}
.m-title{
color:#333;
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
.price_sl{
font-size:16px; color:green;
}
#ic{display:none}
#back_recipe{
cursor:hand; cursor:pointer;
}
#left-menu { float:left; background:#e9e7e4; width:20%; height:100%; overflow:hidden; font-family:Verdana, Geneva, sans-serif; }
#left_cont { float:left; background:#e9e7e4; width:110%; height:100%; overflow-x:hidden; overflow-y:auto; font-family:Verdana, Geneva, sans-serif; }
.left-rows { float:left; width:100%; height:70px;  border:1px solid #dddcda; border-left:none; border-right:none; line-height:70px; vertical-align:middle; text-align:center; background: #f2f0ed; /* Old browsers */ background: -moz-radial-gradient(center, ellipse cover, #f2f0ed 0%, #e9e7e4 100%); /* FF3.6+ */ background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2f0ed), color-stop(100%, #e9e7e4)); /* Chrome,Safari4+ */ background: -webkit-radial-gradient(center, ellipse cover, #f2f0ed 0%, #e9e7e4 100%); /* Chrome10+,Safari5.1+ */ background: -o-radial-gradient(center, ellipse cover, #f2f0ed 0%, #e9e7e4 100%); /* Opera 12+ */ background: -ms-radial-gradient(center, ellipse cover, #f2f0ed 0%, #e9e7e4 100%); /* IE10+ */ background: radial-gradient(ellipse at center, #f2f0ed 0%, #e9e7e4 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f0ed', endColorstr='#e9e7e4', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.left-rows:hover{cursor:hand; cursor:pointer;}
	
#right-menu { float:left; position:relative; width:80%; height:100%; overflow:hidden; }
#right_cont { float:left; position:relative; width:105%; height:100%; overflow:auto; overflow-x:hidden; }
#items_dish { float:left; margin:2% 0px 2% 4.5%; height:100%; width:100%; } 

.item-box{float:left; overflow:hidden;width:150px; height:200px; margin:12px;}
.inner_item:hover{background:#999; cursor:hand; cursor:pointer;}
.inner_item {float:left; margin:2%; width:190px; padding:0px 0px 20px 10px; height:250px;overflow:hidden;  }
.itm_details{clear:none; float:left; margin-left:5px; width:170px; font-family:Verdana, Geneva, sans-serif;}
.left-rows:hover{cursor:hand; cursor:pointer; background:beige;}
.mhead-inner{margin-left: 40px; float:left;}
.img_cont {width:170px; height:170px; margin:5px; float:left; position:relative; overflow:hidden;}
.itm_details p{display:block; font-size:12px;}
.itm_details h3{margin:5px 0px; font-family:arial; font-size:14px; color:#930;}
.itm_details div img{cursor:hand; cursor:pointer;}
.price{position:absolute; top:0px; right:10px; background:url(../wp-content/plugins/menu-generator/images/price.png); width:80px; height:50px; line-height:40px; vertical-align:middle; text-align:center;color:white; font-weight:bold;}
.short_desc{position:absolute; bottom:0px; right:0px; background-color:rgba(0,0,0,0.6); width:100%; height:20px; }
/*
@media screen and (max-width: 840px) {
	.inner_item {width:120px; height:200px; padding:0px 15px 15px 7px; }
	#left_cont { width:112%;}
	.left-rows { font-size:12px;left; width:100%; height:50px; line-height:50px;  }
	.img_cont {width:120px; height:120px;}
}*/

@media screen and (max-width: 1200px) {
	#left-menu { width:20%}
	#right-menu { width:80%}
	#right_cont{width:110%;}
	.inner_item {width:100%; height:100px; padding:5px 15px 14px 7px; margin:0px; margin-left:-20px; border-bottom:1px solid #CCC; }
	#left_cont { width:115%;}
	.left-rows { font-size:14px;left; width:100%; height:50px; line-height:50px;  }
	.img_cont {width:100px; height:100px;}
}

@media screen and (max-width: 840px) {
	#left-menu { width:35%}
	#right-menu { width:65%}
	#right_cont{width:110%;}
	.inner_item {width:100%; height:100px; padding:5px 15px 14px 7px; margin:0px; margin-left:-20px; border-bottom:1px solid #CCC; }
	#left_cont { width:115%;}
	.left-rows { font-size:14px;left; width:100%; height:50px; line-height:50px;  }
	.img_cont {width:100px; height:100px;}
}
@media screen and (max-width: 530px) {
.itm_details{width:100px;}
.left-rows { font-size:12px;left; width:100%; height:50px; line-height:50px;  }

}
@media screen and (max-width: 370px) {
.itm_details{width:80px;}
.itm_details > p{font-size:10px;}
.itm_details > div{display:none;}
.left-rows { font-size:11px;left; width:100%; height:50px; line-height:50px;  }
}
